/* Default styles for both web and mobile */
.Firstaid {
  text-align: center;
  font-size: 18px;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  /* Styles for mobile screens */
  .Firstaid {
    font-size: 16px; /* Slightly larger font for mobile */
    margin-bottom: 10px; /* Add some spacing between elements */
  }
  .video-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-responsive {
    width: 100%;
    max-height: auto;
  }
}

/* Additional styles for larger screens (if needed) */
