.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 50%;
  margin: auto;
}

.triangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.top {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.category{
  width: 120px;
  height: 120px;
  transition: 0.3s ease-in-out;
}

.category:hover{
  transform: scale(1.3);
}