.map{
    height: 100%;
    display: flex;
}

.container{
    display: "flex";
    height: 70vh;
    position: relative;
    
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 237);
}
.back_ground_user_interface{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 1s ease-out;
}
.user_interface_mobile_bar{
    position: absolute;
    top: 1%;
    left: 2%;
    right: 2%;
    height: auto;
    background-color: rgb(46, 24, 132);
    border-radius: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease-in-out;
}
.user_interface_mobile_bar_container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user_interface_mobile_bar_container .ancher_for_heading{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
}
.user_interface_mobile_bar_container .ancher_for_details{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.user_interface_toggle_bar{
    display: none;
}

.user_interface_mobile_bar_close{
    display: none;
}
.user_interface_toggle_bar_{
    display: none;
}
.user_interface_toggle_bar_open{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    min-height: 70vh;
    height: auto;
    background-color: rgb(130, 116, 187);
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in;
}


.ancher_for_heading{
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    color: rgb(11, 10, 10);
    font-family: sans-serif;
    padding: 20px 0;
}
.ancher_for_details{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding: 10px;
}