/* UploadHospitalDocumentsPage.css */
.upload{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
padding: 20px;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 50%;
  margin: auto;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s ease;
  width: 90%;
  border-radius: 10px;
  height: 50%;
}

.upload-icon {
  width: 30%;
  height: 30%;
  color: #ccc;
}

.drop-zone.active {
  border: 2px dashed #007bff;
}

.file-input-label {
  background-color: #2e427e;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}

.file-input-label:hover {
  background-color: #0056b3;
}

.selected-files {
  list-style: none;
  padding: 0;
}

.selected-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.remove-button {
  background-color: #ff4500;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #cc3700;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-button,
.finish-button {
  background-color: #2e427e;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.finish-button {
  margin-left: 70%;
}

.prev-button:hover,
.finish-button:hover {
  background-color: #0056b3;
}
