.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  border-radius: 20px;
}

h2 {
  margin-bottom: 20px;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s ease;
  width: 90%;
  border-radius: 10px;
}

.drop-zone.active {
  border: 2px dashed #007bff; /* Change the border color when a file is selected */
}

.file-input-label {
  background-color: #2e427e;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}

.file-input-label:hover {
  background-color: #0056b3;
}

/* Style the list of selected files */
.selected-files {
  list-style: none;
  padding: 0;
}

.selected-files li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

/* Style the "Remove" button */
.selected-files button {
  background-color: #ff4500; /* Use your desired color */
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.selected-files button:hover {
  background-color: #cc3700; /* Use your desired hover color */
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-button,
.finish-button {
  background-color:  #2e427e;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 350px;
}
.finish-button{
  margin-right: 350px;
}

.prev-button:hover,
.finish-button:hover {
  background-color: #0056b3;
}

/* Add this to your CSS */
.upload-button {
  background-color: #4caf50; /* Use your desired color */
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #45a049; /* Use your desired hover color */
}

.upload-icon {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Add spacing below the SVG */
}
