/* Add this CSS to your stylesheet */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #333; /* Text color */
  }
  
  .table thead th {
    background-color: #19295A; /* Header background color */
    color: #fff; /* Header text color */
  }
  
  .table th,
  .table td {
    padding: 1.0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; /* Table border color */
  }
  
  .table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6; /* Alternate row background color */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Striped row background color */
  }
  
  .table-bordered {
    border: 1px solid #000000; /* Border color for all cells */
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #000000; /* Border color for header and data cells */
  }
  
  /* Adjust the width of specific columns */
  .table td:nth-child(2),
  .table th:nth-child(2) {
    width: 150px; /* Set the width of the second column */
  }
  
  /* Add more specific styling for your table as needed */
  