/* HospitalDetailsPage.css */

/* Container for ambulance details */
.ambulance-details {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; /* Adjust the height as needed */
  text-align: center;
  color: #120202; /* Text color for contrast */
  font-family: Arial, sans-serif; /* Choose your preferred font-family */
}

.ambulance-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/icons/Logo_LS.svg'); /* Path to your LifeSaverLogo */
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ambulance-details-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: rgba(247, 241, 241, 0.5);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Form rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Individual form groups (label + input) */
.form-group {
  flex: 1;
  margin-right: 10px;
  max-width: calc(50% - 5px); /* Equal width for labels and input fields */
}

/* Label styling */
.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  flex: 0 0 50%; /* 20% of the container width */
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  width: 80%;
}

/* Apply this style to every second form-group to ensure two fields in one row */
.form-group:nth-child(even) {
  margin-right: 0; /* Remove the right margin for every second form-group */
}

/* Input field styling */
.ambulance-details-input {
  width: 100%; /* Take up all available width */
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid #19295A;
  background: #FFF;
  font-size: 15px;
  margin-top: 5px; /* Adjust the top margin for input fields */
}

/* Next button */
.ambulance-details-next {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* Adjust the position of the buttons */
.ambulance-details-next button {
  width: 10%;
  padding: 10px;
  background-color: #2e427e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 0;
  right: 150px;
  margin-right: 0px;
  margin-left: 85%;
}

/* Style for button hover state */
.ambulance-details-next button:hover {
  background-color: #0056b3;
}

/* NavLink style */
NavLink {
  color: #ffffff;
}

/* You can add more styling as needed */
